$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Luckiest Guy', cursive;
  margin: auto;

  h1,
  h2 {
    margin-top: 10px;
  }
}

.auth-form {
  background-color: $charcoal;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  margin-top: 15px;
  padding: 10px;
  width: 300px;

  h3,
  input {
    font-size: 1em;
    margin-bottom: 5%;
    width: 100%;
  }

  button {
    align-self: flex-end;
    margin: 2px;
    max-width: 200px;
  }
}

.home-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25vh;

  h2 {
    font-size: 4em;
  }

  p {
    font-size: 1.5em;
  }
}
